<div class="max-w-5xl mx-auto p-4 bg-white shadow-md rounded-xl">
  <h2 class="text-2xl font-bold text-slate-800 mb-4">Liste des PV de déchets</h2>

  <table class="w-full text-left border border-slate-300 rounded-lg">
    <thead class="bg-slate-100">
      <tr>
        <th class="p-3 border-b">Référence</th>
        <th class="p-3 border-b">Date</th>
        <th class="p-3 border-b">Quantité</th>
        <th class="p-3 border-b">Statut</th>
        <th class="p-3 border-b">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pv of PvDechet" class="border-b">
        <td class="p-3">{{ pv.Designation}}</td>
        <td class="p-3">{{ pv.Date_Creation | date: 'dd/MM/yyyy' }}</td>
        <td class="p-3">{{ pv.Quantite }} kg</td>
        <td class="p-3">
          <span 
            class="px-2 py-1 rounded-full text-white text-xs font-semibold"
            [ngClass]="{ 'bg-green-500': pv.statut === 'valider', 'bg-yellow-500': pv.statut === 'enregistrer' }">
            {{ pv.statut }}
          </span>
        </td>
        <td class="p-3" ><div class="flex items-center justify-center">
          
          <button *ngIf="pv.statut === 'enregistrer'" (click)="fromSavedtoValidated(pv._id)"  class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-4 shadow-sm hover:shadow-md bg-stone-800 hover:bg-stone-700 relative bg-gradient-to-b from-stone-700 to-stone-800 border-stone-900 text-stone-50 rounded-lg hover:bg-gradient-to-b hover:from-stone-800 hover:to-stone-800 hover:border-stone-900 after:absolute after:inset-0 after:rounded-[inherit] after:box-shadow after:shadow-[inset_0_1px_0px_rgba(255,255,255,0.25),inset_0_-2px_0px_rgba(0,0,0,0.35)] after:pointer-events-none transition antialiased">Valider</button>
        </div></td>
        <td class="p-3">
          <div class="flex items-center justify-center">
            <button 
              *ngIf="pv.statut === 'enregistrer'" 
              (click)="getPvDechetById(pv._id)"
              
                 class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-4 shadow-sm hover:shadow-md bg-stone-800 hover:bg-stone-700 relative bg-gradient-to-b from-stone-700 to-stone-800 border-stone-900 text-stone-50 rounded-lg hover:bg-gradient-to-b hover:from-stone-800 hover:to-stone-800 hover:border-stone-900 after:absolute after:inset-0 after:rounded-[inherit] after:box-shadow after:shadow-[inset_0_1px_0px_rgba(255,255,255,0.25),inset_0_-2px_0px_rgba(0,0,0,0.35)] after:pointer-events-none transition antialiased">Modifier</button>
              </div>               
              
            
         
        </td>
        
        
        
      </tr>
    </tbody>
  </table>
</div>
